body {
  font-family: "Roboto";
  background: #161616;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 30%;
  height: 100vh;
  padding: 20px;
  width: 25%;
  background-color: black;
}
.header__nav__logoWhite {
  display: flex;
  align-items: center;
}
.header__nav__logoWhite img {
  margin-right: 5px;
  width: 45px;
}
.header__nav__logoWhite h1 {
  font-size: 25px;
}
.header__nav__menu {
  list-style: none;
  margin: 30px 0;
}
.header__nav__menu li a {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  margin: 15px 0;
  color: #C9C9C9;
  text-decoration: none;
}
.header__nav__menu li a img {
  margin-right: 10px;
  width: 28px;
}
.header__nav__menu li a:hover {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.header__nav__menu .add-border {
  margin-bottom: 40px;
}

.play-bar-component__play-bar {
  background: #161616;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-bar-component__play-bar__play-music {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-bar-component__play-bar__play-music ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}
.play-bar-component__play-bar__play-music__play-duration {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 20px;
}
.play-bar-component__play-bar__play-music__play-duration div {
  height: 4px;
  background: #C7C7C7;
  width: 500px;
  margin: 0 10px;
}

.body-connexion {
  text-align: center;
}
.body-connexion span {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.body-connexion button {
  background-color: #1ed760;
  width: 30%;
  font-weight: bold;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
}
.body-connexion button:hover {
  border: 2px black solid;
  transform: scale(1.03);
  transition: 0.2s;
}
.body-connexion .btn-logout {
  display: none;
}

.header-connexion__logo-white {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;
  margin-top: 10px;
  padding-bottom: 15px;
}
.header-connexion__logo-white img {
  margin-right: 5px;
  width: 45px;
}
.header-connexion__logo-white h1 {
  font-size: 28px;
}

.box-dash {
  display: flex;
}

.dashboard {
  width: 75%;
}
.dashboard__header {
  position: fixed;
  top: 0;
  width: 75%;
  height: 90px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #161616;
}
.dashboard__header__arrows {
  display: flex;
}
.dashboard__header__arrows img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: black;
  padding: 5px;
  margin-right: 15px;
}
.dashboard__header__profile-account {
  display: flex;
  background-color: black;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  padding-right: 15px;
  cursor: pointer;
}
.dashboard__header__profile-account__user-box {
  align-items: center;
  display: flex;
}
.dashboard__header__profile-account__user-box__user-icon {
  background: #575757;
  border-radius: 50%;
  padding: 6px;
  width: 30px;
}
.dashboard__header__profile-account__user-box span {
  margin: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #e2e2e2;
}
.dashboard__header__profile-account__user-box img {
  width: 18px;
}

.profile-menu {
  position: absolute;
  right: 20px;
  background-color: #2e2e2e;
  list-style-type: none;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  width: 200px;
  display: none;
}
.profile-menu li {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
.profile-menu li:hover {
  background: #414141;
}

.display {
  display: flex;
}

.dashboard {
  position: relative;
  overflow: scroll;
  height: 87vh;
  padding-bottom: 60px;
  padding-top: 90px;
}
.dashboard form {
  position: absolute;
  top: 15px;
  left: 150px;
  width: 350px;
}
.dashboard form input {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding-left: 45px;
  font-size: 13px;
}
.dashboard form img {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 28px;
}
.dashboard .results-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboard .results-box div {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  width: 20%;
  height: 270px;
  background: #1f1f1f;
  border-radius: 5px;
}
.dashboard .results-box div img {
  border-radius: 50%;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.dashboard .results-box div p {
  font-weight: bold;
  margin-top: 20px;
}
.dashboard .results-box div span {
  font-size: 13px;
  margin-top: 10px;
  color: #797979;
}
.dashboard .results-box .track-card {
  height: 300px;
}
.dashboard .results-box .track-card img {
  border-radius: 5px;
}
.dashboard .results-box .track-card .track-ya {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.dashboard .results-box .track-card .track-ya span {
  margin-right: 5px;
  font-size: 15px;
}

.dashboard .results-box .results-box__content {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  border-radius: 0;
  background: none;
}
.dashboard .results-box .results-box__content img {
  width: 20%;
  margin: 15px;
  border-radius: 5px;
  height: 200px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
