// VARIABLES /////////////////////////////////////

$darkGrey : #161616;

/////////////////////////////////////////////////

body {
    font-family: 'Roboto';
    background: $darkGrey;
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// MENU ////////////////////////////////////////

.header {
    width: 30%;
    height: 100vh;
    padding: 20px;
    width: 25%;
    background-color: black;
    &__nav {
        &__logoWhite {
            display: flex; 
            align-items: center;
            img {
                margin-right: 5px;
                width: 45px;
            }
            h1 {
                font-size: 25px;
            }
        }
        &__menu {
            list-style: none;
            margin: 30px 0;
            li a {
                display: flex;
                font-size: 14px;
                font-weight: bold;
                align-items: center;
                margin: 15px 0;
                color: #C9C9C9;
                text-decoration: none;
                img {
                    margin-right: 10px;
                    width: 28px;
                }
            }
            li a:hover {
                color: white;
                transition: 0.2s;
                cursor: pointer;
            }
            .add-border {
                margin-bottom: 40px;
            }
        }
    }
}

// PLAY BAR ////////////////////////////////////

.play-bar-component__play-bar {
    background: #161616;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__play-music {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            width: 30%;
            justify-content: space-between;
        }
        &__play-duration {
            display: flex;
            align-items: center;
            font-size: 13px;
            margin-top: 20px;
            div {
                height: 4px;
                background: #C7C7C7;
                width: 500px;
                margin: 0 10px;
            }
        }
    }
}

// PAGE CONNEXION /////////////////////////////

.body-connexion {
    text-align: center;
    span {
        font-weight: bold;
        font-size: 14px;
        display: flex;
        justify-content: center;
        padding: 40px 0;
    }
    button {
        background-color: #1ed760;
        width: 30%;
        font-weight: bold;
        height: 50px;
        border: none;
        border-radius: 30px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    button:hover {
        border: 2px black solid;
        transform: scale(1.03);
        transition: 0.2s;
    }
    .btn-logout {
        display: none;
    }
}
.header-connexion {
    &__logo-white {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #3f3f3f;
        margin-top: 10px;
        padding-bottom: 15px;
        img {
            margin-right: 5px;
            width: 45px;
        }
        h1 {
            font-size: 28px;
        }
    }
}

// HEADER PAGES //////////////////////////////
.box-dash {
    display: flex;
}
.dashboard {
    width: 75%;
    &__header {
        width: 100%;
        height: 90px;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        &__arrows {
            display: flex;
            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: black;
                padding: 5px;
                margin-right: 15px;
            }
        }
        &__profile-account {
            display: flex;
            background-color: black;
            align-items: center;
            height: 30px;
            border-radius: 20px;
            padding-right: 15px;
            &__user-box {
                align-items: center;
                display: flex;
                &__user-icon {
                    background: #575757;
                    border-radius: 50%;
                    padding: 6px;
                    width: 30px;
                }
                span {
                    margin: 0 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: #e2e2e2; 
                }
                img {
                    width: 18px;
                }
            }
        }
    }
}

// DASHBOARD SEARCH /////////////////////////////////

.dashboard {
    position: relative;
    overflow: scroll;
    height: 87vh;
    padding-bottom: 60px;
    form {
        position: absolute;
        top: 15px;
        left: 150px;
        width: 350px;
        input {
            width: 100%;
            height: 40px;
            border-radius: 30px;
            border: none;
            outline: none;
            padding-left: 45px;
            font-size: 13px;
        }
        img {
            position: absolute;
            left: 10px;
            top: 6px;
            width: 28px;
        }
    }
    .results-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
            display: flex;
            flex-direction: column;
            margin: 15px;
            padding: 15px;
            width: 20%;
            height: 270px;
            background: #1f1f1f;
            border-radius: 5px;
            img {
                border-radius: 50%;
                width: 100%;
                height: 170px;
                object-fit: cover;
            }
            p {
                font-weight: bold;
                margin-top: 20px;
            }
            span {
                font-size: 13px;
                margin-top: 10px;
                color: #797979;
            }
        }
    }
}